<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65551479900-jj3mgcvoj4564u9do49602d7rpr5h0i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65551479900-jj3mgcvoj4564u9do49602d7rpr5h0i4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzrODKoFPthJ2pFYEuIIsJycTUhUwjMX4</string>
	<key>GCM_SENDER_ID</key>
	<string>65551479900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkGo</string>
	<key>PROJECT_ID</key>
	<string>park--go</string>
	<key>STORAGE_BUCKET</key>
	<string>park--go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65551479900:ios:9df8faaf0f4d7a9184e299</string>
</dict>
</plist>